<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false" />
  <arg name="joint_state_topic" default="/robot/joint_states"/>
  <arg name="joint_command_topic" default="/egmri_commanded_topic"/>
  <arg name="description_param" default="/omg/robot_description" />

  <group if="$(arg debug)">
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find folding_assembly_controller)/config/logger.config"/>
    <node name="joint_mux" pkg="folding_assembly_controller" type="joint_command_mux.py" output="screen" required="true">
      <rosparam command="load" file="$(find folding_assembly_controller)/config/config_mux.yaml"/>
    </node>
    <node name="folding_controller" pkg="folding_assembly_controller" type="folding_action_node" output="screen" launch-prefix="xterm -e gdb -ex run --args" required="true">
      <rosparam command="load" file="$(find folding_assembly_controller)/config/config_action_node.yaml"/>
      <remap from="joint_states" to="$(arg joint_state_topic)"/>
      <remap from="joint_command" to="$(arg joint_command_topic)"/>
      <remap from="/robot_description" to="$(arg description_param)"/>
    </node>
  </group>

  <group unless="$(arg debug)">
    <node name="joint_mux" pkg="folding_assembly_controller" type="joint_command_mux.py" output="screen" required="true">
      <rosparam command="load" file="$(find folding_assembly_controller)/config/config_mux.yaml"/>
    </node>
    <node name="folding_controller" pkg="folding_assembly_controller" type="folding_action_node" output="screen" required="true">
      <rosparam command="load" file="$(find folding_assembly_controller)/config/config_action_node.yaml"/>
      <remap from="joint_states" to="$(arg joint_state_topic)"/>
      <remap from="joint_command" to="$(arg joint_command_topic)"/>
      <remap from="/robot_description" to="$(arg description_param)"/>
    </node>
  </group>

  <node pkg="tf" type="static_transform_publisher" name="r_grip_broadcaster" args="0 0 0.14 0 0 0 1 gripper_r_base r_gripping_point 50" />
  <node pkg="tf" type="static_transform_publisher" name="l_grip_broadcaster" args="0 -0.015 0.15 0 0 0 1 gripper_l_base l_gripping_point 50" />
</launch>
